.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  width: 3593px;
  height: 4801px;
  position: relative;
}

.home .text-wrapper {
  position: absolute;
  top: 75px;
  left: 1071px;
  font-family: "Lalezar-Regular", Helvetica;
  font-weight: 400;
  color: #079500;
  font-size: 128px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle {
  position: absolute;
  width: 3188px;
  height: 4125px;
  top: 388px;
  left: 203px;
  background-color: #d9d9d9;
}
